{% load static %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% block content %}

    <div class="features">
        <h1 class="post-title">Updating film</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.rating }}<br>
            {{ form.description }}<br>
            {{ form.director }}<br>
            {{ form.image_url }}<br>
            {{ form.imdb_url }}<br>
            {{ form.rezka_url }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Edit film</button>
        </form>
    </div>

{% endblock %}