{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Главная</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon" href="/static/main/img/favicon.ico">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">

</head>

<body>
	<div class="wrapper">
		<header class="header">
	<div class="header__row">
		<div class="container">
			<div class="header__menu menu">
				<div class="menu__icon icon-menu">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<nav class="menu__body">
					<ul class="menu__list">
						<li><a href="{% url 'index' %}" class="menu__link"><span>Top 100 films </span></a></li>
						<li><a href="{% url 'create' %}" class="menu__link"><span>Add film</span></a></li>
						<li>
							<form method="get" class="search-form" action="{% url 'index' %}">
								<input type="search" placeholder="Search" name="search" class="search-input" required="">
								<button type="submit" class="btn1 btn">
									<span class="fa fa-search" aria-hidden="true"></span>
								</button>
							</form>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
		<div class="main-view">
			<div class="parallax">
				<div class="parallax__body">
					<div class="parallax__container container">

					</div>
					<div class="parallax__image">
						<div class="parallax__mask">
						</div>
						<div class="parallax__label">The 100 best movies</div>
						<h1 class="parallax__title">of all time</h1>
					</div>
				</div>
			</div>
			<div class="films">
				<div class="films__body">
					<div class="films__title">
						<p>Here are 100 movies</p>
						<p>which are free to watch</p>
					</div>
					<div class="films__row">
						{% for el in films%}
						<div class="films__item item-films">
							<div class="item-films__body">
								<div class="item-films__rating-body">
									<p class="item-films__rating">{{ el.rating }}</p>
								</div>
								<a href="{% url 'film-detail' el.id %}">
									<div class="item-films__image"><img
											src="{{ el.image_url }}"
											alt=""></div>
								</a>
								<div class="item-films__description description">
									<div class="description__body">
										<a href="{{ el.imdb_url }}" class="description__title">
											<p>{{ el.title }}</p>
										</a>
										<a href="{{ el.rezka_url }}"
											class="description__watch">
											<span>Watch free </span>
										</a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
	<div class='container'>
		<div class="footer__row">

		</div>
	</div>
</footer>
	</div>
	<div class="popup">
	<div class="popup-table table">
		<div class="cell">
			<div class="popup-content">
				<div class="popup-close"></div>
				<div class="popup__title"></div>
				<div class="popup__txt"></div>
				<form action="#" class="popup-form form">
					<div class="form-input">
						<input autocomplete="off" type="text" name="form[]" data-value="" class="input" />
					</div>
					<div class="form-input">
						<input autocomplete="off" type="text" name="form[]" data-value="" class="input req email" />
					</div>
					<div class="form-input">
						<input autocomplete="off" type="text" name="form[]" data-value="" class="input req" />
					</div>
					<div class="form-button">
						<button type="submit" class="form__btn btn fw"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="popup popup-video">
	<div class="popup-table table">
		<div class="cell">
			<div class="popup-close"></div>
			<div class="popup-video__value video"></div>
		</div>
	</div>
</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-migrate-3.0.1.min.js"></script> -->
<script src="js/vendors.js"></script>
<script src="js/main.js"></script>
<script src="js/custom.js" ></script>

</body>

</html>